{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "@codeyourfuture/standard",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:@typescript-eslint/stylistic"
  ],
  "overrides": [
    {
      "extends": [
        "plugin:cypress/recommended",
        "plugin:testing-library/dom"
      ],
      "files": [
        "e2e/**/*.ts"
      ],
      "rules": {
        "testing-library/await-async-queries": "off",
        "testing-library/prefer-screen-queries": "off"
      }
    },
    {
      "files": [
        "src/**/*.test.tsx"
      ],
      "plugins": ["vitest"],
      "rules": {
        "vitest/expect-expect": "error",
        "vitest/no-commented-out-tests": "error",
        "vitest/no-identical-title": "error",
        "vitest/no-import-node-test": "error",
        "vitest/valid-describe-callback": "error",
        "vitest/valid-expect": "error",
        "vitest/valid-title": "error"
      }
    }
  ],
  "plugins": [
    "react-refresh"
  ],
  "rules": {
    "react-refresh/only-export-components": [
      "error",
      {
        "allowConstantExport": true
      }
    ]
  }
}
