.container {
  display: flex;
  flex-direction: column;

  > * {
    margin: 1rem;
  }
}

.buttons button {
  margin: 0.5rem;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
